@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
  --font: "Roboto", sans-serif;
  --color: #F2921D;
}
*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body{
  font-family: var(--font)
}
.navbar{
  background-color: var(--color);
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.link-navbar{
  text-decoration: none;

}
.link-navbar:first-child{
  margin-right: 15px;
}
.welcome{
  font-size: 20px;
  text-align: center;
  padding-top: 100px;
}
.imagen-torta{
  width: 30%;
  margin-top: 50px;
  
}
.title-form{
  text-align: center;
  margin-top: 30px;
  color: #F2921D;
  text-shadow: 10px 5px 5px #b3c2b3;
}
.input-form{
  display: block;
  padding:  10px;
  border-radius: 5px;
  border: 1px solid rgb(216, 211, 211);
  width: 100%;
}
.form-group{
  margin-bottom: 20px;

}
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 72px);
    background-color: #f7f7f7;
}
form{
  background-color: white;
  padding: 20px;
  width: 30%;
  border-radius: 10px;
  margin-top: 40px;
}
button{
  background-color: var(--color);
  color: white;
  padding: 15px 25px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: ease 0.5s;
}
button:hover{
  background-color: rgb(167, 108, 20);
}